/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table td {
  vertical-align: top;
}

.deck {
  font-size: .8em;
}

.card {
  width: 127px;
  height: 133px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
}

.back {
  background: red url(../img/card-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.empty {
  display: none;
}

.suit {
  /*position: absolute;*/
  float: left;
  width: 32px;
  height: 32px;
  background-image: url(../img/suits.gif);
  background-repeat: no-repeat;
}

.heart {
  background-position: -32px 0px;
}

.diamond {
  background-position: 0px -32px;
}

.spade {
  background-position: -32px -32px;
}